* {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.main-div {
  width: 50%;
  height: 50%;
  border: 1px solid gray;
  background-color: gainsboro;
  display: flex;
  gap: 4;
  align-items: center;
  justify-content: space-around;
}
.btn {
  width: 300px;
  height: 140px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: rgb(221, 223, 223);
}
.count {
  font-size: 100px;
  background-color: rgb(242, 238, 233);
}
.count:hover {
  background-color: rgb(242, 238, 233);
}
